@media only screen and (max-width: 1367px) {

    .navigation-bar {
        margin-top: 0;
        padding: 20px 40px;
        flex-grow: inherit;
    }
    .center-text {
        padding-top: 70px;
    }
    

    .section-howwework {
        height: 120vh;
    }


    .our-work-pic {
        height: 100vh;
    }
    .our-work-pic__picture-in-macbook {
        padding-top: 60px;
    }
    .text-container {
        padding-top: 150px;
        padding-left: 75px;
    }

    .newsletter__form-control {
        width: 40%;
    }
}

@media only screen and (max-width: 1200px) {

    .navigation-bar {
        margin-top: 0;
        padding: 20px 40px;
        flex-grow: inherit;
    }
    .center-text {
        padding-top: 70px;
    }
    

    .section-howwework {
        height: 120vh;
    }


    .our-work-pic {
        height: 100vh;
    }
    .our-work-pic__picture-in-macbook {
        padding-top: 60px;
    }
    .text-container {
        padding-top: 150px;
        padding-left: 75px;
    }

    .newsletter__form-control {
        width: 40%;
    }
}

@media only screen and (max-width: 990px) {

    .navigation-bar-container {
        background-color:rgb(33, 37 , 41);
    }
    .navigation-bar {
        margin-top: 0;
        padding: 20px 40px;
        flex-grow: inherit;
    }
    
    .center-text {
        padding-top: 70px;
    }
    .center-text__bull-logo {
        max-width: 150px;
        max-height: 150px;
    }
    .center-text__head-text {
        font-size: 60px;
    }
    .center-text__paragraph-text {
        font-size: 28px;
    }

    .photo-for-smallscreen {
        height: 270px !important;
        width: 270px !important;
    }

    .middle-photo {
        margin-left: 20px;
        margin-right: 20px;
    }
    .icon-details {
        padding: 15px 35px;
        margin-bottom: 107px;
    }
    .our-team-section__emp-text {
        left: 9% !important;
    }
    .our-team-section__emp-text--1 {
        left: 39% !important;
    }
    .our-team-section__emp-text--2 {
        right: 9% !important;
    }
    .our-team-section__team-btn-left {
        left: 65px !important;
    }
    .our-team-section__team-btn-right {
        right: 65px !important;
    }

    .section-howwework {
        height: 100vh;
    }



    .our-work-pic {
        height: 90vh;
    }

    .our-work-pic__picture-in-macbook {
        padding-top: 60px;
    }
    .text-container {
        padding-top: 100px;
        padding-left: 75px;
        padding-right: 20px;
    }

    .section-portfolio__grid-pic {
        max-width: 221px;
    }

    .cardsettings__card-details li {
        padding: 15px 30px;
    }

    .newsletter__form-control {
        width: 50%;
    }
}
