@media only screen and (max-width: 1367px) {

  .navigation-bar {
      margin-top: 0;
      padding: 0 40px;
  }
  .section-howwework {
      height: 110vh;
  }
  .our-work-pic {
      height: 770px;
  }
  .our-work-pic__macbook-picture {
      width: 700px;
  }
  .text-container {
    grid-row: 4 / span 3;
    grid-column: 4 / span 7;
    text-align: left;
  }
  .newsletter__form-control {
      width: 40%;
  }
}

@media only screen and (max-width: 1200px) {
  .text-container {
    grid-column: 3 / span 8;
    padding-left: 0;
    padding-top: 0;
  }
}
@media only screen and (max-width: 990px) {

    .navbar {
        margin: 0; 
        height: 80px;
        padding: 10px;
        background-color:rgb(33, 37 , 41);
    }
    .navigation-bar__list {
        display: none;
    }
  
    .navigation-bar__menu-settings {
        display: flex;
        margin-right: 30px;
        padding: 15px;
        color: white;
        font-size: 15px;
        word-spacing: 5px;
        border-radius: 5px;
        cursor: pointer; 
    }
    .navigation-bar__menu-list {
        padding-right: 3px;
    }
    .navigation-bar__menu-settings:hover {
        background-color: white;
        color: black;
    }
    
    .center-text__head-text {
      font-size: 64px;
    }
    .center-text__paragraph-text {
      font-size: 24px;
    }

    .photo-for-smallscreen {
      height: 270px !important;
      width: 270px !important;
    }
    
    .our-team-section__team-btn-left {
      left: 25px !important;
    }
    .our-team-section__team-btn-right {
      right: 25px !important;
    }

    .mini-list {
        margin-left: 50px;
    }

    .section-howwework {
      height: 100vh;
    }
    .our-work-pic {
      height: 80vh;
    }
    .our-work-pic__macbook-picture {
        width: 600px;
    }
    .section-portfolio__grid-pic {
      max-width: 221px;
    }

    .cardsettings__card-details li {
      padding: 15px 30px;
    }

    .newsletter__form-control {
      width: 50%;
    }
    .contact-btn {
      margin-left: 110px;
    }
}

@media only screen and (max-width: 900px) {

    .navigation-bar {
        margin-top: 0;
        padding: 10px 50px;
      }
    
    .navigation-bar__menu-settings {
        margin-right: 30px;
        padding: 10px;
        height: 46px;
    }
    .our-team-section__team-btn-left {
      left: 10px !important;
    }
    .our-team-section__team-btn-right {
      right: 10px !important;
    }
    .contact-btn {
      margin-left: 60px;
    }
}

@media only screen and (max-width: 800px) {


    .span-1-of-4 { width: 100%; }
    .col { margin: 0; }

    .photo-for-smallscreen {
      height: 250px !important;
      width: 250px !important;
    }
    .our-work-pic__macbook-picture {
        width: 450px;
    }
    .our-team-section__team-btn-left {
    left: 5px !important;
    }
    .our-team-section__team-btn-right {
    right: 5px !important;
    }
    .text-container {
        grid-row: 3 / span 3;
    }
    .cardsettings__card-details li {
      padding: 15px 10px;
    }

    .contact-btn {
      margin-left: 0;
  }
}

@media only screen and (max-width: 767px) {

    .span-1-of-3 { width: 100%; }

    .photo-for-smallscreen {
      height: 230px !important;
      width: 230px !important;
    }
    .our-team-section__team-btn-left {
        left: 10px !important;
        }
        .our-team-section__team-btn-right {
        right: 33px !important;
    }
    .section-portfolio__grid-pic {
      max-width: 300px;
    }
    .responsive-container {
        max-width: 320px;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
    .cardsettings__card-details li {
      padding: 15px 130px;
    }
    .smallscreen-card-settings {
      max-width: 540px;
      position: relative;
      float: none;
      z-index: 1;
    }
    .footer-text,
    .footer-text1,
    .footer-text2 {
        margin-top: 10px;
    }
    .social-icons {
        position: relative;
        top: 10px;
    }
}

@media only screen and (max-width: 575px) {
    .navigation-bar__menu-settings {
      margin-right: 10px;
    } 
    .our-work-pic {
      height: 60vh;
    }
    .our-work-pic__macbook-picture {
      display: none;
    }
    .our-team-section__emp-head {
        font-size: 20px;
    }
    .photo-for-smallscreen {
        height: 170px !important;
        width: 170px !important;
    }
    .our-team-section__team-btn-left {
        left: 10px !important;
    }
    .our-team-section__team-btn-right {
        right: 25px !important;
    }
    .section-portfolio__grid-pic {
      max-width: 260px;
      margin: 4px 4px;
    }

    .newsletter__form-control {
      width: 60%;
    }
    .section-contact__contact-name {
      width: 540px;
    }
    .section-contact__message-textarea {
      width: 540px;
    }
}

@media only screen and (max-width: 480px) {

    .section-portfolio__grid-pic {
      max-width: 200px;
      margin: 4px 4px;
    }

    .our-team-section__emp-head {
        font-size: 16px;
    }
    .photo-for-smallscreen {
        height: 150px !important;
        width: 150px !important;
    }
    .our-team-section__team-btn-left {
        left: 0 !important;
    }
    .our-team-section__team-btn-right {
        right: 10 !important;
    }

    .section-contact__contact-name {
      width: 460px;
    }
    .section-contact__message-textarea {
      width: 460px;
    }
}