*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.row {
  max-width: 1920px;
  margin: 0 auto; }

html {
  font-size: 100%;
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  text-align: center;
  word-spacing: 1px; }

body {
  box-sizing: border-box; }

/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  GROUPING  ============================================================================= */
.row {
  zoom: 1; }

.row:before,
.row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

@media only screen and (max-width: 480px) {
  .col {
    margin: 0; } }

/*  GRID OF TWO   ============================================================================= */
.span-2-of-2 {
  width: 100%; }

.span-1-of-2 {
  width: 49.2%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-2-of-2 {
    width: 100%; }
  .span-1-of-2 {
    width: 100%; } }

/*  GRID OF THREE   ============================================================================= */
.span-3-of-3 {
  width: 100%; }

.span-2-of-3 {
  width: 66.13%; }

.span-1-of-3 {
  width: 32.26%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-3-of-3 {
    width: 100%; }
  .span-2-of-3 {
    width: 100%; }
  .span-1-of-3 {
    width: 100%; } }

/*  GRID OF FOUR   ============================================================================= */
.span-4-of-4 {
  width: 100%; }

.span-3-of-4 {
  width: 74.6%; }

.span-2-of-4 {
  width: 49.2%; }

.span-1-of-4 {
  width: 23.8%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-4-of-4 {
    width: 100%; }
  .span-3-of-4 {
    width: 100%; }
  .span-2-of-4 {
    width: 100%; }
  .span-1-of-4 {
    width: 100%; } }

/*  GRID OF FIVE   ============================================================================= */
.span-5-of-5 {
  width: 100%; }

.span-4-of-5 {
  width: 79.68%; }

.span-3-of-5 {
  width: 59.36%; }

.span-2-of-5 {
  width: 39.04%; }

.span-1-of-5 {
  width: 18.72%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-5-of-5 {
    width: 100%; }
  .span-4-of-5 {
    width: 100%; }
  .span-3-of-5 {
    width: 100%; }
  .span-2-of-5 {
    width: 100%; }
  .span-1-of-5 {
    width: 100%; } }

/*  GRID OF SIX   ============================================================================= */
.span-6-of-6 {
  width: 100%; }

.span-5-of-6 {
  width: 83.06%; }

.span-4-of-6 {
  width: 66.13%; }

.span-3-of-6 {
  width: 49.2%; }

.span-2-of-6 {
  width: 32.26%; }

.span-1-of-6 {
  width: 15.33%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-6-of-6 {
    width: 100%; }
  .span-5-of-6 {
    width: 100%; }
  .span-4-of-6 {
    width: 100%; }
  .span-3-of-6 {
    width: 100%; }
  .span-2-of-6 {
    width: 100%; }
  .span-1-of-6 {
    width: 100%; } }

/*  GRID OF SEVEN   ============================================================================= */
.span-7-of-7 {
  width: 100%; }

.span-6-of-7 {
  width: 85.48%; }

.span-5-of-7 {
  width: 70.97%; }

.span-4-of-7 {
  width: 56.45%; }

.span-3-of-7 {
  width: 41.94%; }

.span-2-of-7 {
  width: 27.42%; }

.span-1-of-7 {
  width: 12.91%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-7-of-7 {
    width: 100%; }
  .span-6-of-7 {
    width: 100%; }
  .span-5-of-7 {
    width: 100%; }
  .span-4-of-7 {
    width: 100%; }
  .span-3-of-7 {
    width: 100%; }
  .span-2-of-7 {
    width: 100%; }
  .span-1-of-7 {
    width: 100%; } }

/*  GRID OF EIGHT   ============================================================================= */
.span-8-of-8 {
  width: 100%; }

.span-7-of-8 {
  width: 87.3%; }

.span-6-of-8 {
  width: 74.6%; }

.span-5-of-8 {
  width: 61.9%; }

.span-4-of-8 {
  width: 49.2%; }

.span-3-of-8 {
  width: 36.5%; }

.span-2-of-8 {
  width: 23.8%; }

.span-1-of-8 {
  width: 11.1%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-8-of-8 {
    width: 100%; }
  .span-7-of-8 {
    width: 100%; }
  .span-6-of-8 {
    width: 100%; }
  .span-5-of-8 {
    width: 100%; }
  .span-4-of-8 {
    width: 100%; }
  .span-3-of-8 {
    width: 100%; }
  .span-2-of-8 {
    width: 100%; }
  .span-1-of-8 {
    width: 100%; } }

/*  GRID OF NINE   ============================================================================= */
.span-9-of-9 {
  width: 100%; }

.span-8-of-9 {
  width: 88.71%; }

.span-7-of-9 {
  width: 77.42%; }

.span-6-of-9 {
  width: 66.13%; }

.span-5-of-9 {
  width: 54.84%; }

.span-4-of-9 {
  width: 43.55%; }

.span-3-of-9 {
  width: 32.26%; }

.span-2-of-9 {
  width: 20.97%; }

.span-1-of-9 {
  width: 9.68%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-9-of-9 {
    width: 100%; }
  .span-8-of-9 {
    width: 100%; }
  .span-7-of-9 {
    width: 100%; }
  .span-6-of-9 {
    width: 100%; }
  .span-5-of-9 {
    width: 100%; }
  .span-4-of-9 {
    width: 100%; }
  .span-3-of-9 {
    width: 100%; }
  .span-2-of-9 {
    width: 100%; }
  .span-1-of-9 {
    width: 100%; } }

/*  GRID OF TEN   ============================================================================= */
.span-10-of-10 {
  width: 100%; }

.span-9-of-10 {
  width: 89.84%; }

.span-8-of-10 {
  width: 79.68%; }

.span-7-of-10 {
  width: 69.52%; }

.span-6-of-10 {
  width: 59.36%; }

.span-5-of-10 {
  width: 49.2%; }

.span-4-of-10 {
  width: 39.04%; }

.span-3-of-10 {
  width: 28.88%; }

.span-2-of-10 {
  width: 18.72%; }

.span-1-of-10 {
  width: 8.56%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-10-of-10 {
    width: 100%; }
  .span-9-of-10 {
    width: 100%; }
  .span-8-of-10 {
    width: 100%; }
  .span-7-of-10 {
    width: 100%; }
  .span-6-of-10 {
    width: 100%; }
  .span-5-of-10 {
    width: 100%; }
  .span-4-of-10 {
    width: 100%; }
  .span-3-of-10 {
    width: 100%; }
  .span-2-of-10 {
    width: 100%; }
  .span-1-of-10 {
    width: 100%; } }

/*  GRID OF ELEVEN   ============================================================================= */
.span-11-of-11 {
  width: 100%; }

.span-10-of-11 {
  width: 90.76%; }

.span-9-of-11 {
  width: 81.52%; }

.span-8-of-11 {
  width: 72.29%; }

.span-7-of-11 {
  width: 63.05%; }

.span-6-of-11 {
  width: 53.81%; }

.span-5-of-11 {
  width: 44.58%; }

.span-4-of-11 {
  width: 35.34%; }

.span-3-of-11 {
  width: 26.1%; }

.span-2-of-11 {
  width: 16.87%; }

.span-1-of-11 {
  width: 7.63%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-11-of-11 {
    width: 100%; }
  .span-10-of-11 {
    width: 100%; }
  .span-9-of-11 {
    width: 100%; }
  .span-8-of-11 {
    width: 100%; }
  .span-7-of-11 {
    width: 100%; }
  .span-6-of-11 {
    width: 100%; }
  .span-5-of-11 {
    width: 100%; }
  .span-4-of-11 {
    width: 100%; }
  .span-3-of-11 {
    width: 100%; }
  .span-2-of-11 {
    width: 100%; }
  .span-1-of-11 {
    width: 100%; } }

/*  GRID OF TWELVE   ============================================================================= */
.span-12-of-12 {
  width: 100%; }

.span-11-of-12 {
  width: 91.53%; }

.span-10-of-12 {
  width: 83.06%; }

.span-9-of-12 {
  width: 74.6%; }

.span-8-of-12 {
  width: 66.13%; }

.span-7-of-12 {
  width: 57.66%; }

.span-6-of-12 {
  width: 49.2%; }

.span-5-of-12 {
  width: 40.73%; }

.span-4-of-12 {
  width: 32.26%; }

.span-3-of-12 {
  width: 23.8%; }

.span-2-of-12 {
  width: 15.33%; }

.span-1-of-12 {
  width: 6.86%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-12-of-12 {
    width: 100%; }
  .span-11-of-12 {
    width: 100%; }
  .span-10-of-12 {
    width: 100%; }
  .span-9-of-12 {
    width: 100%; }
  .span-8-of-12 {
    width: 100%; }
  .span-7-of-12 {
    width: 100%; }
  .span-6-of-12 {
    width: 100%; }
  .span-5-of-12 {
    width: 100%; }
  .span-4-of-12 {
    width: 100%; }
  .span-3-of-12 {
    width: 100%; }
  .span-2-of-12 {
    width: 100%; }
  .span-1-of-12 {
    width: 100%; } }

.navigation-bar-container {
  max-width: 1140px;
  width: 100%;
  padding-right: 8px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.mini-container {
  max-width: 250px;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto; }

.team-container {
  max-width: 1079px;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.section-paddings {
  padding-top: 100px;
  padding-bottom: 100px; }

.working-with-container {
  max-width: 890px;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto; }

/*@import "elements/queries";*/
h1 {
  font-size: 80px;
  text-transform: uppercase; }

h2 {
  font-size: 52px;
  text-transform: uppercase;
  color: #212529; }

h3 {
  font-size: 28px;
  text-transform: uppercase;
  color: #212529; }

h4 {
  font-size: 24px;
  text-transform: uppercase; }

h1,
h2,
h3,
h4 {
  font-family: "Raleway",sans-serif;
  font-weight: 900; }

p {
  font-size: 18px;
  color: #212529; }

/* COLORS 
white-font-color : rgb(255, 255, 255);
red-color-light : rgba(239, 64, 53, 0.5);
red-color-dark : #EF4035;
black-color : rgb(33, 37 , 41);
grey-color : rgba(255, 255, 255, 0.74);
*/
.our-team-section__fb-icon, .our-team-section__twit-icon, .our-team-section__linkd-icon, .our-team-section__basket-icon {
  color: white;
  padding: 5px 5px;
  filter: brightness(80%); }

/* HEADER */
header {
  height: 100vh;
  width: 100%;
  background-image: url(../img/backgrounds/bg-header.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }

.navigation-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 35px; }
  .navigation-bar__small-bull-logo {
    height: 46px;
    display: flex;
    margin-top: 4px; }
  .navigation-bar__list {
    text-decoration: none;
    color: white;
    list-style: none;
    display: flex; }

.nav-item {
  text-align: left;
  margin-right: 5.5px;
  padding: 15px 15px; }

.center-text {
  padding-top: 185px; }
  .center-text__bull-logo {
    max-width: 250px;
    max-height: 250px; }
  .center-text__head-text {
    color: white;
    margin: 0 0; }
  .center-text__head-text::after {
    display: block;
    height: 1px;
    background-color: #EF4035;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px; }
  .center-text__paragraph-text {
    color: white;
    margin: 0 10px;
    font-size: 32px;
    word-spacing: 0; }
  .center-text__button {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 30px;
    background-color: transparent;
    color: white;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50%; }

/* ABOUT SECTION */
.about-section__vitality-description {
  margin-top: 10px; }

.about-section__vitality-description:after {
  display: block;
  height: 1px;
  background-color: #EF4035;
  content: " ";
  width: 150px;
  margin: 0 auto;
  margin-top: 20px; }

.about-section__icon-big {
  font-size: 64px;
  display: block;
  color: #212529;
  text-align: center; }

.about-section__icon-description-text {
  margin-top: 10px;
  padding: 0 25px; }

/* OUR TEAM SECTION */
.ourteam-section {
  background-color: #f0f0f0; }
  .ourteam-section .our-team-section__header {
    margin-bottom: 0; }
  .ourteam-section .our-team-section__paragraph {
    margin-top: 10px; }
  .ourteam-section .our-team-section__paragraph::after {
    display: block;
    height: 1px;
    background-color: rgba(239, 64, 53, 0.5);
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  .ourteam-section .our-team-section__employees {
    position: relative;
    z-index: 1; }
  .ourteam-section .our-team-section__emp-text {
    position: absolute;
    z-index: 2;
    top: 31%;
    left: 6%; }
  .ourteam-section .our-team-section__emp-text--1 {
    position: absolute;
    z-index: 2;
    top: 31%;
    left: 40%; }
  .ourteam-section .our-team-section__emp-text--2 {
    position: absolute;
    z-index: 2;
    top: 31%;
    right: 6%; }
  .ourteam-section .our-team-section__employee-photo {
    width: 339px;
    height: 341px;
    filter: brightness(60%); }
  .ourteam-section .our-team-section__emp-head, .ourteam-section .our-team-section__team-paragraph {
    color: rgba(255, 255, 255, 0.7);
    margin: 5px 0;
    filter: brightness(80%); }
  .ourteam-section .our-team-section__team-btn-right {
    position: absolute;
    right: 0;
    top: 40%; }
  .ourteam-section .our-team-section__team-btn-left {
    position: absolute;
    left: 0;
    top: 40%; }
  .ourteam-section .ourteam-btn {
    font-size: 40px;
    padding: 10px 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.74);
    background: rgba(239, 64, 53, 0.5);
    border: none;
    outline: none;
    transition: 0.5s; }
  .ourteam-section .ourteam-btn:hover {
    background-color: #EF4035; }

.middle-photo {
  margin-left: 25px;
  margin-right: 25px; }

/* HOW WE WORK SECTION */
.section-howwework {
  height: 80vh;
  background-image: url(../img/backgrounds/bg-quote.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.how-we-work {
  text-align: center; }
  .how-we-work__design-text {
    font-size: 40px;
    color: white;
    font-weight: 300;
    padding-top: 200px;
    margin-bottom: 10px; }
  .how-we-work__design-text:after {
    display: block;
    height: 1px;
    background-color: #EF4035;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px; }
  .how-we-work__span-design {
    color: #EF4035; }

/* OUR PROCESS SECTION */
.our-process__process-head::after {
  display: block;
  height: 1px;
  background-color: #EF4035;
  content: " ";
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px; }

.our-process-rows__process-text {
  text-align: left;
  padding: 10px 25px;
  margin-top: 10px; }

.our-process-rows__plan-icon, .our-process-rows__create-icon, .our-process-rows__launch-icon {
  color: #212529;
  font-size: 69px;
  float: left;
  padding: 0 35px;
  margin-bottom: 100px; }

.plans,
.create,
.launch {
  text-align: left;
  margin-bottom: 10px; }

.list-item {
  margin-bottom: 20px; }

/* OUR WORK SECTION */
.section-work {
  background-color: #f0f0f0; }
  .section-work__ourwork-head:after {
    display: block;
    height: 1px;
    background-color: #EF4035;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }

/* WORK PICTURE SECTION */
.our-work-pic {
  height: 100vh;
  background-image: url(../img/portfolio/carousel/bg-1.jpg);
  background-size: cover; }
  .our-work-pic__macbook-picture {
    float: left;
    padding-top: 60px;
    padding-left: 70px;
    max-width: 114%; }

.text-container {
  text-align: left;
  padding-top: 275px;
  padding-left: 155px; }
  .text-container__projectname-head {
    color: white; }
  .text-container__ourwork-paragraph {
    color: white; }
  .text-container__ourwork-paragraph:after {
    display: block;
    height: 1px;
    background-color: #ef4035;
    content: " ";
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .text-container__btn-details {
    display: inline-block;
    padding: 15px 15px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    border: 1px solid white;
    color: white;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: 0.2s; }

/* PORTFOLIO SECTION */
.section-portfolio__portfolio-head:after {
  display: block;
  height: 1px;
  background-color: #EF4035;
  content: " ";
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px; }

.section-portfolio__grid-pic {
  max-width: 345px;
  margin: 8px 8px; }

/* EXPIRIENCE SECTION */
.section-expirience {
  background-color: #f0f0f0; }

.vital-text__expirience-head {
  color: #212529; }

.vital-text__expirience-head:after {
  display: block;
  height: 1px;
  background-color: #EF4035;
  content: " ";
  width: 150px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px; }

.vital-text__expirience-text {
  margin-bottom: 20px; }

.testimonials__name {
  padding-right: 5px;
  margin-top: 10px;
  font-size: 16px;
  float: right;
  color: #212529; }

.testimonials__small {
  font-size: 13px;
  float: right; }

.testimonials__stars {
  color: gold;
  float: right;
  padding-right: 30px; }

.testimonials__rounded-circle {
  width: 70px;
  border-radius: 50%;
  float: left; }

.arrowheads__arrow-right {
  font-size: 40px;
  padding: 3px 10px;
  line-height: 50px;
  height: 60px;
  cursor: pointer;
  color: white;
  background: rgba(255, 0, 0, 0.3);
  border: none;
  outline: none;
  float: right;
  transition: .2s; }

.arrowheads__arrow-left {
  font-size: 40px;
  padding: 3px 10px;
  line-height: 50px;
  height: 60px;
  cursor: pointer;
  color: white;
  background: rgba(255, 0, 0, 0.3);
  border: none;
  outline: none;
  float: left;
  transition: .2s; }

/* PRICING SECTION */
.section-pricing {
  background-image: url(../img/backgrounds/bg-pricing.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* CARD1 */
  /* CARD - 2 */
  /* CARD - 3*/ }
  .section-pricing__card-1 {
    background-color: white;
    text-align: center;
    margin-top: 30px;
    padding: 10px 35px;
    z-index: 1000;
    position: relative;
    float: right; }
  .section-pricing__card-2 {
    background-color: white;
    text-align: center;
    z-index: 3000;
    position: absolute;
    display: inline-block;
    border-right-color: #212529;
    border-left-color: #212529;
    margin-top: 20px;
    padding: 20px 35px;
    box-shadow: -30px 0 30px -30px #030303, 30px 0 30px -30px #030303; }
  .section-pricing__card-3 {
    background-color: white;
    text-align: center;
    margin-top: 30px;
    padding: 10px 35px;
    z-index: 1000;
    position: relative;
    float: left; }

.pricing__pricinghead {
  color: white; }

.pricing__pricinghead:after {
  display: block;
  height: 1px;
  background-color: #EF4035;
  content: " ";
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px; }

.pricing__pricingtext {
  color: white; }

.cardsettings__cardhead {
  margin-top: 30px;
  text-transform: uppercase;
  color: #212529; }

.cardsettings__cardhead:after {
  display: block;
  height: 1px;
  background-color: #EF4035;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 15px; }

.cardsettings__card-details ul {
  list-style-type: none;
  text-decoration: none; }

.cardsettings__card-details {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem; }

.cardsettings__card-details li {
  font-size: 16px;
  border: 1px solid #d3d3d3;
  padding: 15px 70px; }

.cardsettings__card-details li:not(:last-child) {
  border-bottom-color: white; }

.cardsettings__card-button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  font-weight: 900;
  font-size: 16px;
  margin-top: 20px;
  border-color: #222222;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-width: 1px;
  padding: 15px 15px;
  transition: 0.2s; }

.cardsettings__card-price {
  font-size: 50px;
  margin-bottom: 20px;
  color: #222222; }

.cardsettings__dolar {
  font-size: 60%;
  padding: 10px 4px;
  position: relative;
  bottom: 15px;
  left: 15px;
  font-weight: 900; }

.cardsettings__month {
  font-size: 16px; }

.cardsettings__number {
  font-weight: 900; }

/* NEWSLETTER */
.newsletter {
  text-align: center;
  background-color: #222222; }
  .newsletter__headnews {
    color: white;
    text-transform: uppercase; }
  .newsletter__headnews:after {
    display: block;
    height: 1px;
    background-color: #EF4035;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px; }
  .newsletter__form-control {
    width: 31%;
    border: none;
    padding: 10px 16px 10px 16px;
    color: #495057;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    outline: none; }

/* CONTACT SECTION */
.section-contact__contact-us:after {
  display: block;
  height: 1px;
  background-color: #EF4035;
  content: " ";
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px; }

.section-contact__contact-text {
  margin-bottom: 2rem; }

.section-contact__contact-name {
  width: 730px;
  font-size: 25px;
  padding: 30px 10px;
  font-family: "Roboto";
  font-weight: 300;
  border: 1px solid #e9e9e9;
  outline: none;
  border-bottom: white;
  border-right: white;
  border-left: white; }

.section-contact__message-textarea {
  width: 730px;
  font-size: 25px;
  padding: 30px 0 200px 10px;
  font-family: "Roboto";
  font-weight: 300;
  border: 1px solid #e9e9e9;
  outline: none;
  border-right: white;
  border-left: white; }

/* FOOTER */
footer.footer {
  background-image: url(../img/backgrounds/bg-footer.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }

/* CONTACT PHONE */
.footer-text {
  filter: brightness(70%);
  margin-top: 100px;
  display: block;
  color: white;
  float: right;
  padding-right: 50px; }
  .footer-text__calls {
    padding-bottom: 5px;
    text-transform: uppercase; }
  .footer-text__phone-list {
    font-family: "Roboto";
    font-weight: 300;
    list-style: none;
    font-size: 22px; }
  .footer-text__phone-icon {
    font-size: 24px;
    position: relative;
    float: left;
    left: 15%; }

/* VISIT TEXT */
.footer-text1 {
  filter: brightness(70%);
  margin-top: 100px;
  position: relative;
  display: inline-block;
  text-align: center;
  color: white; }
  .footer-text1__visits {
    padding-bottom: 5px;
    text-transform: uppercase; }
  .footer-text1__loc-list {
    font-family: "Roboto";
    font-weight: 300;
    list-style: none;
    font-size: 22px; }
  .footer-text1__location-icon {
    font-size: 24px;
    position: relative;
    float: left;
    left: 33%; }

/* EMAIL TEXT*/
.footer-text2 {
  filter: brightness(70%);
  margin-top: 100px;
  display: block;
  float: left;
  color: white;
  padding-left: 50px; }
  .footer-text2__mails {
    padding-bottom: 5px;
    text-transform: uppercase; }
  .footer-text2__mail-list {
    font-family: "Roboto";
    font-weight: 300;
    list-style: none;
    font-size: 22px; }
  .footer-text2__mail-icon {
    font-size: 24px;
    position: relative;
    float: left;
    left: 20%; }

.social-icons {
  filter: brightness(70%);
  font-size: 35px;
  color: white;
  padding-top: 30%;
  letter-spacing: 10px;
  margin-bottom: 100px; }
  .social-icons__fb-icon:hover {
    color: blue; }
  .social-icons__twit-icon:hover {
    color: lightskyblue; }
  .social-icons__linkd-icon:hover {
    color: #EF4035; }

.btn:hover {
  color: white;
  background: #EF4035;
  border-color: #EF4035; }

.btn--1:hover {
  background-color: white;
  border-color: white;
  color: #EF4035; }

.btn-text {
  display: inline-block;
  padding: 13px 12px 13px 12px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  color: white;
  font-weight: 900;
  line-height: 24px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
  border: 1px solid white; }

.btn-portfolio {
  color: #212529;
  padding: 12px 21px 12px 21px;
  margin-top: 20px;
  margin-bottom: 24px;
  line-height: 21px;
  font-weight: 900;
  font-size: 14px;
  border-color: #212529;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Roboto"; }

.btn-portfolio:not(:last-child) {
  margin-right: 18px; }

.subscribe-btn {
  padding: 15px 18px 11px 18px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 24px;
  font-family: "Roboto";
  letter-spacing: 1px;
  font-size: 16px;
  color: white;
  background-color: #EF4035;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .2s; }

.contact-btn {
  color: #212529;
  margin-top: 20px;
  float: left;
  margin-left: 185px;
  border-color: #212529;
  border-width: 1px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 900;
  background-color: transparent;
  transition: 0.2s; }

/* VITAL BUTTON */
.vital-button {
  text-align: center; }

.btn-block {
  font-family: "Roboto";
  font-size: 26px;
  font-weight: 200;
  display: block;
  background-color: #1b1b1b;
  padding: 50px 0;
  text-decoration: none;
  color: white;
  transition: 0.5s; }

.btn-block:hover {
  background-color: #EF4035; }

.our-team-icon {
  font-size: 18px;
  letter-spacing: 5px; }
