///////////////////////////////////////////////////////
/* ABOUT SECTION */
.about-section {

    &__vitality-description {
        margin-top: 10px;
    }

    &__vitality-description:after {
        display: block;
        height: 1px;
        background-color: #EF4035;
        content: " ";
        width: 150px;
        margin: 0 auto;
        margin-top: 20px;
    }

    &__icon-big {
        font-size: 64px;
        display: block;
        color: rgb(33, 37 , 41);
        text-align: center;
    }

    &__icon-description-text {
        margin-top: 10px;
        padding: 0 25px; 
    }
}