/////// BUTTON HOVER /////////
.btn:hover {
    color:white;
    background: #EF4035;
    border-color: #EF4035;
}
.btn--1:hover {
    background-color: white;
    border-color: white;
    color:#EF4035;
}
///////////////////////////////////////////////////////////////
.btn-text {
    display: inline-block;
    padding: 14px 20px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    color: white;
    font-weight: 900;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    border: 1px solid white;
}
//////////////////////////////////////////////////////////////////
.btn-details {
    display: inline-block;
    padding: 15px 15px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    border: 1px solid white;
    color: white;
    font-weight: 900;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}
//////////////////////////////////////////////////////////////////
.btn-portfolio {
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    //font-size: 14px;
    border-color: black;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.btn-portfolio:not(:last-child) {
    margin-right: 10px;
}
//////////////////////////////////////////////////////////////////////
.subscribe-btn {
    padding: 13px 10px 11px 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #EF4035;
    border:none;
    outline: none;
    cursor: pointer; 
    transition: .2s;  
}
////////////////////////////////////////////////////////////////////
.contact-btn {
    color: black;
    margin-top: 20px;
    float: left;
    margin-left: 185px;
    border-color: black;
    border-width: 1px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    padding: 10px 15px; 
    text-transform: uppercase;
    font-weight: 900;
    background-color: transparent;
    transition: 0.2s;
}
///////////////////////////////////////////////////////////////////////////////
/* VITAL BUTTON */
.vital-button {
    text-align: center;
}
.btn-block {
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 200;
    display: block;
    background-color: rgb(27, 27, 27); 
    padding: 50px 0;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.btn-block:hover {
    background-color: #EF4035;
}


/////////////////////////// ICONS ON OUR TEAM SECTION /////////////////////////////////
.our-team-icon {
    font-size: 18px;
    letter-spacing: 5px;
} 