/////////////////////////////////////////////////////   
//////// PRICING ///////////////////////////////////

.section-pricing {
    background-image: url(../img/backgrounds/bg-pricing.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* CARD1 */
    &__card-1 {
        background-color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 30px;
        padding: 0 25px; 
        display: inline-block;
    }
    /* CARD - 2 */
    &__card-2 {
        background-color: rgb(255, 255, 255);
        text-align: center;
        z-index: 3000;
        position: relative;
        display: inline-block;
        border-right-color: rgb(33, 37 , 41);
        border-left-color: rgb(33, 37 , 41);
        margin-top: 30px;
        padding: 0 25px;
        -webkit-box-shadow: -30px 0 30px -30px rgb(3, 3, 3), 30px 0 30px -30px rgb(3, 3, 3);
                box-shadow: -30px 0 30px -30px rgb(3, 3, 3), 30px 0 30px -30px rgb(3, 3, 3);
        transform: scale(1.025);    
    }
    /* CARD - 3*/
    &__card-3 {
        background-color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 30px;
        padding: 0 25px; 
        display: inline-block;
    }
}
.pricing {

    &__pricinghead {
        color: rgb(255, 255, 255);
    }

    &__pricingtext {
        color: rgb(255, 255, 255);
    }
}
.cardsettings {

    &__cardhead {
        margin-top: 30px;
        text-transform: uppercase;
        color: rgb(33, 37 , 41);
    }

    &__card-details ul {
        list-style-type:none;
        text-decoration: none;
    }
    &__card-details {
        padding-bottom: 1.5rem;
        padding-top: 0.5rem;
    }
    &__card-details li {
        font-size: 16px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        padding: 15px 70px;
    }
    &__card-details li:not(:last-child) {
        border-bottom-color: white;
    }
    &__card-button {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(34, 34, 34);
        font-weight: 900;
        font-size: 16px;
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin-top: 20px;
        margin-bottom: 5px;
        border-color: rgb(34, 34, 34);
        outline: none;
        cursor: pointer;
        background-color: transparent;
        border-width: 1px;
        line-height: 24px;
        padding: 12px 18px;
        -webkit-transition: 0.2s;
        transition: 0.2s;
    }
    &__card-price {
        font-size: 50px;
        margin-bottom: 20px;
        color: rgb(34, 34, 34);
    }
    &__dolar {
        font-size: 60%;
        padding: 10px 4px;
        position: relative;
        bottom: 15px;
        left: 6px;
        font-weight: 900;
    }
    &__month { 
        font-size: 16px;
        position: relative;
        right: 12px;
    }
    
    &__number { 
        font-weight: 900; 
        position: relative;
        right: 11px;
    }
}