////////////////////////////////////////////////////////
/* PRICING SECTION */
.section-pricing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/backgrounds/bg-pricing.jpg);
    background-size: cover;
}
.pricinghead {
    color: white;
}
.pricinghead:after {
    display: block;
    height: .2rem;
    background-color: red;
    content: " ";
    width: 10rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.pricingtext {
    color: white;
    font-size: 110%;
}
.cardhead {
    text-transform: uppercase;
    color: black;
    font-weight: 900;
}
.cardhead:after {
    display: block;
    height: 2px;
    background-color: red;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}
.card__details ul {
    list-style-type:none;
    text-decoration: none;
}
.card__details {
    padding-bottom: 15px;
    padding-top: 15px;
}
.card__details li {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    padding: 15px 65px;
}
.card__details li:not(:last-child) {
    border-bottom-color: white;
}
.card-button {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 900;
    margin-top: 20px;
    border-color: black;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border-width: 1px;
    padding: 15px 20px;
    transition: 0.5s;
}
.card-button:hover {
    background-color: red;
    border-color: red;
    color:white;
}
.card-price {
    font-size: 250%;
    margin-bottom: 20px;
    color: black;
}
.dolar {
    font-size: 70%;
    padding: 10px 4px;
    position: relative;
    bottom: 15px;
    left: 15px;
    font-weight: 900;
}
.month { font-size: 40%; }

.number {
    font-size: 120%; 
    font-weight: 900;
}
/* CARD1 */
.card-1 {
    background-color: rgb(255, 255, 255);
    text-align: center;
    float: right;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 30px 35px;  
    z-index: 1000;
    position: relative;
    right: 400px;
}
/* CARD - 2 */
.card-2 {
    background-color: rgb(255, 255, 255);
    text-align: center;
    z-index: 3000;
    position: relative;
    display: inline-block;
    border-right-color: black;
    border-left-color: black;
    margin-top: 22px;
    left: 397px;
    padding: 40px 35px;
    box-shadow: -30px 0 30px -30px rgb(3, 3, 3), 30px 0 30px -30px rgb(3, 3, 3);
}
/* CARD - 3*/
.card-3 {
    background-color: rgb(255, 255, 255);
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 30px 35px;  
    z-index: 1000;
    position: relative;
    left: 400px;
}
