////////////////////////////////////////////////////////
/* PRICING SECTION */
.section-pricing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/backgrounds/bg-pricing.jpg);
    background-size: cover;

    /* CARD1 */
    &__card-1 {
        background-color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 30px;
        padding: 10px 35px;  
        z-index: 1000;
        position: relative;
        float: right;
        margin-bottom: 100px;
    }
    /* CARD - 2 */
    &__card-2 {
        background-color: rgb(255, 255, 255);
        text-align: center;
        z-index: 3000;
        position: absolute;
        display: inline-block;
        border-right-color: rgb(33, 37 , 41);
        border-left-color: rgb(33, 37 , 41);
        margin-top: 20px;
        padding: 20px 35px;
        box-shadow: -30px 0 30px -30px rgb(3, 3, 3), 30px 0 30px -30px rgb(3, 3, 3);
    }
    /* CARD - 3*/
    &__card-3 {
        background-color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 30px;
        padding: 10px 35px;  
        z-index: 1000;
        position: relative;
        float: left;
    }
}
.pricing {

    &__pricinghead {
        color: rgb(255, 255, 255);
    }
    &__pricinghead:after {
        display: block;
        height: 1px;
        background-color: #EF4035;
        content: " ";
        width: 150px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    &__pricingtext {
        color: rgb(255, 255, 255);
    }
}
.cardsettings {

    &__cardhead {
        margin-top: 30px;
        text-transform: uppercase;
        color: rgb(33, 37 , 41);
    }
    &__cardhead:after {
        display: block;
        height: 1px;
        background-color: #EF4035;
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-top: 15px;
    }
    &__card-details ul {
        list-style-type:none;
        text-decoration: none;
    }
    &__card-details {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    &__card-details li {
        font-size: 16px;
        border: 1px solid #d3d3d3;
        padding: 15px 70px;
    }
    &__card-details li:not(:last-child) {
        border-bottom-color: white;
    }
    &__card-button {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(34, 34, 34);
        font-weight: 900;
        font-size: 16px;
        margin-top: 20px;
        border-color: rgb(34, 34, 34);
        outline: none;
        cursor: pointer;
        background-color: transparent;
        border-width: 1px;
        padding: 15px 15px;
        transition: 0.2s;
    }
    &__card-price {
        font-size: 50px;
        margin-bottom: 20px;
        color: rgb(34, 34, 34);
    }
    &__dolar {
        font-size: 50%;
        padding: 10px 4px;
        position: relative;
        bottom: 15px;
        left: 15px;
        font-weight: 900;
    }
    &__month { font-size: 40%; }
    
    &__number { font-weight: 900; }
}



