/////////////////////////////////////////////////////////////////////////////////
/* FOOTER */
footer.footer {
    background-image: url(../img/backgrounds/bg-footer.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/* CONTACT PHONE */
.footer-text {
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
    margin-top: 100px;
    display: block;
    color: rgb(255, 255, 255);
    float: right;
    padding-right: 50px;

    &__calls {
        padding-bottom: 5px;
        text-transform: uppercase;
    }
    &__phone-list {
        font-family: "Roboto";
        font-weight: 300;
        list-style: none;
        font-size: 22px;
    }
    &__phone-icon {
        font-size: 24px;
        position: relative;
        float: left;
        left: 15%;
    }
}
/* VISIT TEXT */
.footer-text1 {
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
    margin-top: 100px;
    position: relative;
    display: inline-block;
    text-align: center;
    color: rgb(255, 255, 255);

    &__visits {
        padding-bottom: 5px;
        text-transform: uppercase;
    }
    &__loc-list {
        font-family: "Roboto";
        font-weight: 300;
        list-style: none;
        font-size: 22px;
    }
    &__location-icon {
        font-size: 24px;
        position: relative;
        float: left;
        left: 33%;
    }
}
/* EMAIL TEXT*/
.footer-text2 {
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
    margin-top: 100px;
    display: block;
    float: left;
    color: rgb(255, 255, 255);
    padding-left: 50px;

    &__mails {
        padding-bottom: 5px;
        text-transform: uppercase;
    }
    &__mail-list {
        font-family: "Roboto";
        font-weight: 300;
        list-style: none;
        font-size: 22px;
    }
    &__mail-icon {
        font-size: 24px;
        position: relative;
        float: left;
        left: 20%;
    }
}
.social-icons {
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
    font-size: 35px;
    color: rgb(255, 255, 255);
    padding-top: 30%;
    letter-spacing: 10px;
    margin-bottom: 100px;

    &__fb-icon:hover {
        color: blue;
    }
    &__twit-icon:hover {
        color: lightskyblue;
    }
    &__linkd-icon:hover {
        color: #EF4035;
    }
}

