/* HEADER */
header {
    height: 100vh;
    width: 100%;
    background-image: url(../img/backgrounds/bg-header.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}
.navigation-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 35px; 

    &__small-bull-logo {
        height: 46px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 4px;
    }

    &__list {
        text-decoration: none;
        color: rgb(255, 255, 255);
        list-style: none;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
    }

    &__menu-settings {
        display: none;
    }

}
.nav-item {
        text-align: left;
        margin-right: 5.5px;
        padding: 15px 15px;
        
}
.center-text {

    padding-top: 185px;
    
    &__bull-logo {
        max-width: 250px;
        max-height: 250px;
    }

    &__head-text {
        color: rgb(255, 255, 255);
        margin: 0 0;
    }

    &__head-text::after {
        display: block;
        height: 1px;
        background-color: #EF4035;
        content: " ";
        width: 150px;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &__paragraph-text {
        color: rgb(255, 255, 255);
        margin: 0 10px;
        font-size: 32px;
        word-spacing: 0;
    }

    &__button {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        display: block;

        font-size: 30px;
        background-color: transparent;
        color: rgb(255, 255, 255);
        border-color: transparent;
        outline: none;
        cursor: pointer;
    }
}