/* HEADER */
header {
    height: 100vh;
    min-height: 700px;
    width: 100%;
    background-image: url(../img/backgrounds/bg-header.jpg);
    //background-attachment: fixed;
    //background-position: top;
    //background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    box-sizing:border-box;
    color:rgb(33, 37, 41);
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    font-size:16px;
    font-weight:300;
    height:120px;
    justify-content:flex-start;
    left:0px;
    line-height:24px;
    padding-bottom:30px;
    padding-left:0px;
    padding-right:0px;
    padding-top:30px;
    position:absolute;
    right:0px;
    text-align:left;
    top:0px;
    margin-top: 5px;
}
.navigation-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    &__small-bull-logo {
        height: 46px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 4px;
    }

    &__list {
        text-decoration: none;
        color: rgb(255, 255, 255);
        list-style: none;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
    }

    &__menu-settings {
        display: none;
    }

}
.nav-item {
        text-align: left;
        margin-right: 8px;
        padding: 13px 13.6px;
        
}
.center-text {
    margin-top: 4px;
    
    &__bull-logo {
        max-width: 250px;
        max-height: 250px;
        margin-bottom: 5px;
    }

    &__head-text {
        color: rgb(255, 255, 255);
        margin: 0 0;
    }

    &__paragraph-text {
        color: rgb(255, 255, 255);
        margin: 0 10px;
        font-size: 32px;
        word-spacing: 0;
    }
}
.scroll-btn {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

    &__button {
        font-size: 30px;
        background-color: transparent;
        color: rgb(255, 255, 255);
        border-color: transparent;
        outline: none;
        cursor: pointer;
    }
}
.scroll-down-trigger {
    font-size: 30px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    padding: 0;
    letter-spacing: normal;
    color: white;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}