///////////////////////////////////////////////////////
/* HOW WE WORK SECTION */
.section-howwework {
    height: 80vh;
    background-image: url(../img/backgrounds/bg-quote.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.how-we-work {
    text-align: center;

    &__design-text {
        font-size: 40px;  
        color: rgb(255, 255, 255);
        font-weight: 300;
        padding-top: 200px ;
        margin-bottom: 10px;
    }
    &__design-text:after {
        display: block;
        height: 1px;
        background-color: #EF4035;
        content: " ";
        width: 150px;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    &__span-design {
        color: #EF4035;
    }
}