///////////////////////////////////////////////////////
/* HOW WE WORK SECTION */
.section-howwework {
    height: 80vh;
    background-image: url(../img/backgrounds/bg-quote.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.how-we-work {
    text-align: center;

    &__design-text {
        font-size: 40px;  
        color: rgb(255, 255, 255);
        font-weight: 300;
    }
    &__span-design {
        color: #EF4035;
    }
}