///////////////////////////////////////////////////////
/* OUR WORK SECTION */
.section-work { 
    background-color: rgb(240, 240, 240);
}
.ourwork-head:after {
    display: block;
    height: 1px;
    background-color: red;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ourwork-text {
    margin-bottom: 100px;
}





/*.our-work-section {

    &__header {
        margin-bottom: 0;
    }

    &__header::after {
        display: block;
        height: 1px;
        background-color: red;
        content: " ";
        width: 150px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;             
    }

    &__paragraph {
        margin-top: 0;
    }
}*/