/* WORK PICTURE SECTION */
.our-work-pic {
    height: 980px;
    background-image: url(../img/portfolio/carousel/bg-1.jpg);
    background-size: cover;
    position: relative;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(7, 5vw);

    &__macbook-picture {
        grid-row: 2;
        grid-column: 2;
        width: 1000px;
    }
}

.text-container {
    grid-row: 4 / span 2;
    grid-column: 3 / span 6;
    text-align: left;
    z-index: 20;
    padding-left: 50px;
    padding-top: 15px;
    
    &__projectname-head {
        color: rgb(255, 255, 255);
    }
    &__ourwork-paragraph {
        color: rgb(255, 255, 255);
    }
    &__btn-details {
        display: inline-block;
        padding: 15px 15px;
        text-transform: uppercase;
        text-decoration: none;
        background-color: transparent;
        -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
        transition: background-color 0.2s, border 0.2s, color 0.2s;
        border: 1px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        font-weight: 900;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        -webkit-transition: 0.2s;
        transition: 0.2s;
    } 
}