//////////////////////////////////////////////////////////
/* OUR PROCESS SECTION */
.section-process {
    margin-bottom: 80px;
}
.our-process {

    &__process-head::after {
        display: block;
        height: 1px;
        background-color: #EF4035;
        content: " ";
        width: 150px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;             
    }
}
.our-process-rows {

    &__process-text {
        text-align: left;
        padding:  10px 25px;
        margin-top: 10px;
    }

    &__plan-icon,
    &__create-icon,
    &__launch-icon {
        color: rgb(33, 37 , 41); 
        font-size: 69px;
        float: left;
        padding: 0 35px;
        margin-bottom: 100px;
    }

}
.plans,
.create,
.launch {
    text-align: left;
    margin-bottom: 10px;
}
.list-item {
    margin-bottom: 20px;
}

