/* WORK PICTURE SECTION */
.our-work-pic {
    height: 100vh;
    background-image: url(../img/portfolio/carousel/bg-1.jpg);
    background-size: cover;

    &__projectname-head {
        padding-top: 300px;
        color: rgb(255, 255, 255);
        float: right;
    }
    &__ourwork-paragraph {
        color: rgb(255, 255, 255);
        float: right;
    }
    &__ourwork-paragraph:after {
        display: block;
        height: 1px;
        background-color: rgb(239, 64, 53);
        content: " ";
        width: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__picture-in-macbook {
        float: left;
        padding-top: 180px;
        max-width: 50%; 
    }
}

.ourwork-text {
    margin-bottom: 100px;
}
