
///////////////////////////////////////////////////////
/* OUR TEAM SECTION */
.ourteam-section { 
    background-color: rgb(240, 240, 240); 

    .our-team-section {
        margin-bottom: 100px;

        &__header {
            margin-bottom: 0;
        }
    
        &__paragraph {
            margin-top: 10px;
        }
    
        &__paragraph::after {
            display: block;
            height: 1px;
            background-color: rgba(239, 64, 53, 0.5);
            content: " ";
            width: 150px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;        
        }
    
        &__employees {
           position: relative;
           z-index: 1;
        }
    
        &__emp-text {
            position: absolute;
            z-index: 2;
            top: 28%;
            left: 5%;
        }
    
        &__emp-text--1 {
            position: absolute;
            z-index: 2;
            top: 28%;
            left: 40%;
        }
    
        &__emp-text--2 {
            position: absolute;
            z-index: 2;
            top: 28%;
            right: 5%;
        }
    
        &__employee-photo {
            width: 340px;
            height: 340px;
            filter: brightness(70%);
        }
    
        &__emp-head,
        &__team-paragraph, {
            color: rgb(255, 255, 255);
            margin: 5px 0;
            filter: brightness(80%);     
        }
    
        &__team-btn-right{
            position: absolute;
            right: 0;
            top: 40%;
        }
        &__team-btn-left {
            position: absolute;
            left: 0;
            top: 40%;
        }
    }
    .ourteam-btn {
        font-size: 40px;
        padding: 10px 15px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.74);
        background:rgba(239, 64, 53, 0.5); 
        border: none;
        outline: none;
        transition: 0.5s;
    }
    .ourteam-btn:hover {
        background-color: #EF4035;
    }
}
.middle-photo {
    margin-left: 15px;
    margin-right: 15px; 
}














































/*
.our-team-section {

    &__header {
        margin-bottom: 0;
    }

    &__paragraph {
        margin-top: 10px;
    }

    &__paragraph::after {
        display: block;
        height: 1px;
        background-color: red;
        content: " ";
        width: 150px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 10px;        
    }

    &__employees {
       position: relative;
       z-index: 1;
    }

    &__emp-text {
        position: absolute;
        z-index: 2;
        top: 28%;
       // left: 25%;
    }

    &__emp-text--1 {
        position: absolute;
        z-index: 2;
        top: 28%;
        left: 44%;
    }

    &__emp-text--2 {
        position: absolute;
        z-index: 2;
        top: 28%;
        //right: 25%;
    }

    &__employee-photo {
        padding: 10px 10px;
        width: 340px;
        height: 340px;
        filter: brightness(70%);
    }

    &__emp-head,
    &__team-paragraph, {
        color: rgb(255, 255, 255);
        margin: 5px 0;
        filter: brightness(80%);     
    }

    &__team-btn-right{
        position: absolute;
        top: 36%;
      //  left: 21.9%;
    }
    &__team-btn-left {
        position: absolute;
        top: 36%;
       // right: 21.9%;
    }
}
.ourteam-btn {
    font-size: 40px;
    padding: 10px 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.74);
    background:rgba(239, 64, 53, 0.5); 
    border: none;
    outline: none;
    transition: 0.5s;
}
.ourteam-btn:hover {
    background-color: #EF4035;
}*/