.header__colored {
    border-bottom-color:rgb(239, 64, 53);
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(239, 64, 53);
    border-left-style:none;
    border-left-width:0px;
    border-right-color:rgb(239, 64, 53);
    border-right-style:none;
    border-right-width:0px;
    border-top-color:rgb(239, 64, 53);
    border-top-style:solid;
    border-top-width:1px;
    box-sizing:content-box;
    color:rgb(255, 255, 255);
    display:block;
    font-family:Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:300;
    height:2px;
    line-height:24px;
    margin-bottom:13px;
    margin-top:9px;
    max-width:150px;
    overflow-x:visible;
    overflow-y:visible;
    text-align:center;
    text-size-adjust:100%;
    unicode-bidi:isolate;
    width:150px;
    -webkit-margin-after:13px;
    -webkit-margin-before:9px;
    -webkit-margin-end:auto;
    -webkit-margin-start:auto;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.team__colored {
    border-bottom-color:rgb(239, 64, 53);
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(239, 64, 53);
    border-left-style:none;
    border-left-width:0px;
    border-right-color:rgb(239, 64, 53);
    border-right-style:none;
    border-right-width:0px;
    border-top-color:rgb(239, 64, 53);
    border-top-style:solid;
    border-top-width:1px;
    box-sizing:content-box;
    color:rgb(255, 255, 255);
    display:block;
    font-family:Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:300;
    height:2px;
    line-height:24px;
    margin-bottom:11px;
    margin-top:11px;
    max-width:50px;
    overflow-x:visible;
    overflow-y:visible;
    text-align:center;
    text-size-adjust:100%;
    unicode-bidi:isolate;
    width:50px;
    -webkit-margin-after:5px;
    -webkit-margin-before:5px;
    -webkit-margin-end:auto;
    -webkit-margin-start:auto;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.work__colored {
    border-bottom-color:rgb(239, 64, 53);
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(239, 64, 53);
    border-left-style:none;
    border-left-width:0px;
    border-right-color:rgb(239, 64, 53);
    border-right-style:none;
    border-right-width:0px;
    border-top-color:rgb(239, 64, 53);
    border-top-style:solid;
    border-top-width:1px;
    box-sizing:content-box;
    color:rgb(255, 255, 255);
    display:block;
    font-family:Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:300;
    height:2px;
    line-height:24px;
    margin-bottom:11px;
    margin-top:11px;
    max-width:150px;
    overflow-x:visible;
    overflow-y:visible;
    text-align:center;
    text-size-adjust:100%;
    unicode-bidi:isolate;
    width:150px;
    -webkit-margin-after:16px;
    -webkit-margin-before:16px;
    -webkit-margin-end:0;
    -webkit-margin-start:0;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.text__colored {
    border-bottom-color:rgb(239, 64, 53);
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(239, 64, 53);
    border-left-style:none;
    border-left-width:0px;
    border-right-color:rgb(239, 64, 53);
    border-right-style:none;
    border-right-width:0px;
    border-top-color:rgb(239, 64, 53);
    border-top-style:solid;
    border-top-width:1px;
    box-sizing:content-box;
    color:rgb(255, 255, 255);
    display:block;
    font-family:Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:300;
    height:2px;
    line-height:24px;
    margin-bottom:11px;
    margin-top:11px;
    max-width:150px;
    overflow-x:visible;
    overflow-y:visible;
    text-align:center;
    text-size-adjust:100%;
    unicode-bidi:isolate;
    width:150px;
    -webkit-margin-after:20px;
    -webkit-margin-before:18px;
    -webkit-margin-end:auto;
    -webkit-margin-start:auto;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.colored {
    border-bottom-color:rgb(239, 64, 53);
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(239, 64, 53);
    border-left-style:none;
    border-left-width:0px;
    border-right-color:rgb(239, 64, 53);
    border-right-style:none;
    border-right-width:0px;
    border-top-color:rgb(239, 64, 53);
    border-top-style:solid;
    border-top-width:1px;
    box-sizing:content-box;
    color:rgb(34, 34, 34);
    display:block;
    font-family:Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:300;
    height:2px;
    line-height:24px;
    margin-bottom:16px;
    margin-top:16px;
    max-width:100px;
    overflow-x:visible;
    overflow-y:visible;
    text-align:center;
    text-size-adjust:100%;
    unicode-bidi:isolate;
    visibility:visible;
    width:100px;
    -webkit-margin-after:16px;
    -webkit-margin-before:16px;
    -webkit-margin-end:auto;
    -webkit-margin-start:auto;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}