////////////////////////////////////////////////////////////
/* EXPIRIENCE SECTION */
.section-expirience {
    background-color: rgb(240, 240, 240);
}
.vital-text {

    &__expirience-head { 
        color: rgb(33, 37 , 41);
    }
    &__expirience-text {
        margin-bottom: 20px;
    }
}
.testimonials {
    &__name {
        margin-top: 10px;
        font-size: 16px;
        color: rgb(33, 37 , 41);
    }
    &__small {
        font-size: 13px;
    }
    &__stars {
        color:gold;
    }
    &__rounded-circle {
        width: 60px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.arrowheads {

    &__arrow-right {
        font-size: 40px;
        padding: 3px 10px;
        line-height: 50px;
        height: 60px;
        cursor: pointer;
        color: rgb(255, 255, 255);
        background: rgba(255, 0, 0, 0.3);
        border:none;
        outline: none;
        float: right;
        -webkit-transition: .2s;
        transition: .2s;
    }
    &__arrow-left {
        font-size: 40px;
        padding: 3px 10px;
        line-height: 50px;
        height: 60px;
        cursor: pointer;
        color: rgb(255, 255, 255);
        background: rgba(255, 0, 0, 0.3);
        border:none;
        outline: none;
        float: left;
        -webkit-transition: .2s;
        transition: .2s;
    }
}
