////////////////////////////////////////////////////////////
/* EXPIRIENCE SECTION */
.section-expirience {
    background-color: rgb(240, 240, 240);
}
.vital-text {

    &__expirience-head { 
        color: rgb(33, 37 , 41);
    }
    &__expirience-head:after {
        display: block;
        height: 1px;
        background-color: #EF4035;
        content: " ";
        width: 150px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__expirience-text {
        margin-bottom: 20px;
    }
}
.testimonials {

    &__name {
        padding-left: 10px;
        margin-top: 10px;
        font-size: 16px;
        float: right;
        color: rgb(33, 37 , 41);
    }
    &__small {
        font-size: 13px;
    }
    &__stars {
        color:gold;
    }
    &__rounded-circle {
        width: 80px;
        border-radius: 50%;
        float: left;
    }
}

.arrowheads {

    &__arrow-right {
        font-size: 40px;
        padding: 10px 10px;
        cursor: pointer;
        color: rgb(255, 255, 255);
        background: rgba(255, 0, 0, 0.3);
        border:none;
        outline: none;
        float: right;
        transition: .2s;
    }
    &__arrow-left {
        font-size: 40px;
        padding: 10px 10px;
        cursor: pointer;
        color: rgb(255, 255, 255);
        background: rgba(255, 0, 0, 0.3);
        border:none;
        outline: none;
        float: left;
        transition: .2s;
    }
}
