*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.row {
    max-width: 194em;
    margin: 0 auto;
}
html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5% // 16px/16px = 1 * 100 = 100%;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    text-align: center;
    word-spacing: .1rem;
}
body {
    box-sizing: border-box;
}


