@media only screen and (max-width: 1366px) {
    //////////////////////////// HEADER //////////////////////////////////
    .small-bull {
        left: 12rem;
    }
    .nav-list li:last-child {
        margin-right: 12rem;
    }
    .big-bull {
        top: 21%;
        left: 41.5%;
    }
    .main-text {
        left: 37%;
        top: 59%;
    }
    .bootstrap-text {
        top: 77%;
        left: 41%;
    }
//////////////////////////// ORU TEAM //////////////////////////////////
    .emp-text {
        left:16%;
    }
    .emp-text1 {
        right:42%;
    }
    .emp-text2 {
        right:16%;
    }
    .team-btn-right {
        left: 15rem;
    }
    .team-btn-left {
        right: 15rem;
    }
/////////////////////////// DESIGN /////////////////////////////////////
    .section-howwework {
        height: 100vh;
    }
////////////////////////// OUR PROCESS ////////////////////////////////
    .process-text {
        left: 25rem;
    }
    .process-text1 {
        left: 60rem;
    }
    .process-text2 {
        left: 100rem;
    }
    .plan-icon {
        left: 15rem;
    }
    .create-icon {
        left: 50rem;
    }
    .launch-icon {
        left: 90rem;
    }
/////////////////////////// OUR WORK //////////////////////////////////////
    .our-work-pic {
    height: 110vh;
    }
    .macbook-pic {
        width: 67rem;
        margin-top: 17rem;
        margin-left: 8rem; 
        z-index: 100;
    }
    .picture-in-macbook {
        height: 31rem;
        width: 49rem;
        top: 22.5rem;
        left: 17rem;
    }
    .projectname-head {
        margin-top: 30rem;   
    }
////////////////////////// OUR PORTFOLIO ////////////////////////////////////
    .portfolio-pic {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 8rem;
    }
    .grid-pic {
        width: 28%;
        height: 28%;
        padding: .5rem .5rem;
    }
///////////////////////// EXPIRIENCE ////////////////////////////////////////
    .arrow-right {
    padding: .5rem .7rem;
    margin-right: 12rem;
    }
    .arrow-left {
    padding: .5rem .7rem;
    margin-left: 12rem;
    }
////////////////////////// PRICING ////////////////////////////////////////////
    .card-1 {
        right: 12rem;
    }
/* CARD - 3*/
    .card-3 {
        left: 12rem;
    }
/////////////////////////// NEWSLETTER ///////////////////////////////////////
    .form-control {
        width: 40%;
    }
////////////////////////// CONTACT US ////////////////////////////////////////
.section-contact {
    text-align: center;
}
.contact-form {
    margin-left: 10rem;
    margin-right: 10rem;
    }
}
