h2 {
    margin-top: 9rem;
    margin-bottom: 1rem;
    font-size: 5rem;
    text-transform: uppercase;
}
h4 {
    font-size: 2.5rem;
    text-transform: uppercase;
}
h1,
h2,
h3,
h4 {
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    text-align: center;
}
p {
    font-size: 1.8rem;
}


