/* HEADER */
header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/backgrounds/bg-header.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    text-align: center;
}
.small-bull {
    height: 4.7rem;
    text-transform: uppercase;
    position: absolute; 
    color: white;
    top: 4rem;
    left: 40rem;
}
.big-bull {
    height: 25.6rem;
    position: absolute;
    top: 28%;
    left: 44%;
}
.main-text {
    font-size: 8rem;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    position: absolute;
    left: 41%;
    top: 55.5%;
}
.main-text::after {
    display: block;
    height: .1rem;
    background-color: red;
    content: " ";
    width: 15rem;
    margin: 0 auto;
    margin-top: .3rem;
}
.nav-list {
    cursor: pointer;
    float: right;
    list-style: none;
}
.nav-list li {
    display:inline-block;
    color: #fff;
    padding: 0 1.4rem;
    margin-top: 5rem;  
    font-size: 1.7rem;
}
.nav-list li:last-child {
    margin-right: 40rem;
}
.bootstrap-text {
    display: block;
    position: absolute;
    top: 68%;
    left: 43.5%;
    font-size: 3.2rem;
    color: white;
    font-weight: 300;
}
.header-btn {
    position: absolute;
    bottom: 2%;
    left: 49.2%; 
    font-size: 2rem;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-color: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
}