/* HEADER */
header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/backgrounds/bg-header.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    text-align: center;
}
.small-bull {
    height: 3rem;
    text-transform: uppercase;
    position: absolute; 
    color: white;
    top: 2.5rem;
    left: 25rem;
}
.big-bull {
    height: 15rem;
    position: absolute;
    top: 28%;
    left: 44%;
}
.main-text {
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    position: absolute;
    left: 41%;
    top: 55%;
}
.main-text::after {
    display: block;
    height: .2rem;
    background-color: red;
    content: " ";
    width: 12rem;
    margin: 0 auto;
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.nav-list {
    cursor: pointer;
    float: right;
    list-style: none;
}
.nav-list li {
    display:inline-block;
    color: #fff;
    font-weight: 400;
    padding: 1rem 1rem;
    margin-top: 2rem;  
}
.nav-list li:last-child {
    margin-right: 25rem;
}
.bootstrap-text {
    display: block;
    position: absolute;
    top: 67%;
    left: 43%;
    font-weight: 300;
    font-size: 2rem;
    color: white;
}
.header-btn {
    position: absolute;
    bottom: 2%;
    left: 49%; 
    font-size: 200%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-color: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
}