///////////////////////////////////////////////////////
/* FEATURES SECTION */
.vitality-description:after {
    display: block;
    height: 0.1rem;
    background-color: red;
    content: " ";
    width: 15rem;
    margin: 0 auto;
    margin-top: 2rem;
}
.icon-big {
    font-size: 6rem;
    display: block;
    color: black;
    text-align: center;
}
.icon-description-text {
    margin-top: 1.8rem;
    margin-bottom: 8rem;
}
///////////////////////////////////////////////////////
/* OUR TEAM SECTION */
.section-ourteam { background-color: rgb(240, 240, 240); }

.employees {
    position: relative;
    text-align: center;
}
.emp3 {
    height: 33.8rem;
    width: 35.4rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
    padding: 0 1rem;
    filter: brightness(50%);
    z-index: 1000;
}
.emp-text {
    position: absolute;
    top:29%;
    left:26%;
    color: rgb(255, 255, 255);
    filter: brightness(80%);
}
.emp-text1 {
    position: absolute;
    top:29%;
    right:45%;
    color: white;
    filter: brightness(80%);
}
.emp-text2 {
    position: absolute;
    top:29%;
    right:26%;
    color: white;
    filter: brightness(80%);
}
.emp-text p,
.emp-text1 p,
.emp-text2 p {
    color: white;
    font-weight: 300;
    margin-bottom: .8rem;
}
.emp-head:after {
    display: block;
    height: .1rem;
    background-color: red;
    content: " ";
    width: 6rem;
    margin: 0 auto;
    margin-top: .7rem;
    margin-bottom: .7rem;
}
.emp-text i,
.emp-text1 i,
.emp-text2 i {
    padding: 0 .5rem;
}
///////////////////////////////////////////////////////
/* HOW WE WORK SECTION */
.section-howwework {
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/backgrounds/bg-quote.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.how-we-work {
    text-align: center;
   //margin: 8% auto;
}
.design-text {
    font-size: 4rem;  
    color: white;
    font-weight: 300;
    margin-top: 30rem;
    margin-bottom: 2rem;
}
.design-text:after {
    display: block;
    height: .1rem;
    background-color: red;
    content: " ";
    width: 15rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}
.span-design {
    color: red;
}
//////////////////////////////////////////////////////////
/* OUR PROCESS SECTION */
.section-process {
    position: relative;
    height: 53rem;
}
.our-process-rows {
    text-align: center;
}
.process-head:after {
    display: block;
    height: .1rem;
    background-color: red;
    content: " ";
    width: 15rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.plans,
.create,
.launch {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}
.plan-list,
.create-list,
.launch-list {
    font-size: 1.7rem;
}
.plan-list li,
.create-list li,
.launch-list li {
    padding: 1rem 0;
    text-align: left;
}
/* PLAN */
.process-text {
    position: absolute;
    left: 55rem;
}
.plan-icon { 
    font-size: 4rem;
    border-style: solid;
    border-color: rgb(7, 7, 7);
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    border-radius: 50%;

    position: absolute;
    left: 45rem;
}
/* CREATE */ 
.process-text1 {
    position: absolute;
    left: 90rem;
}
.create-icon {
    font-size: 4rem;
    border-style: solid;
    border-color: rgb(7, 7, 7);
    padding: 1rem 1.8rem 1rem 1.8rem;
    cursor: pointer;
    border-radius: 50%;

    position: absolute;
    left: 80rem;
}
/* LAUNCH */
.process-text2 {
    position: absolute;
    left: 125rem;
}
.launch-icon {
    font-size: 4rem;
    border-style: solid;
    border-color: rgb(7, 7, 7);
    padding: 1rem 1.8rem 1rem 1.8rem;
    cursor: pointer;
    border-radius: 50%;

    position: absolute;
    left: 115rem;
}
///////////////////////////////////////////////////////
/* OUR WORK SECTION */
.section-work { 
    background-color: rgb(240, 240, 240);
}
.ourwork-head:after {
    display: block;
    height: .1rem;
    background-color: red;
    content: " ";
    width: 15rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.ourwork-text {
    margin-bottom: 8rem;
}
/* WORK PICTURE SECTION */
.our-work-pic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/portfolio/carousel/bg-1.jpg);
    background-size: cover;
    position: relative;
    height:100vh;
}
.projectname-head {
    color: white;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin-top: 40rem;
    margin-left: 15rem;
}
.ourwork-paragraph {
    color: white;
    text-align: left;
    margin-left: 15rem;
}
.ourwork-paragraph:after {
    display: block;
    height: .1rem;
    background-color: red;
    content: " ";
    width: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.macbook-pic{
    width: 99rem;
    margin-top: 17rem;
    margin-left: 7rem; 
    z-index: 100;
}
.picture-in-macbook {
    z-index: 500;
    height: 46rem;
    width: 73rem;
    position: absolute;
    top: 25rem;
    left: 20rem;
    filter: brightness(90%);
}
////////////////////////////////////////////////////////
/* PORTFOLIO SECTION */
.section-portfolio {
    text-align: center;
}
.portfolio-pic {
    margin-left: 39rem;
    margin-right: 39rem;
    margin-bottom: 10rem;
}
.portfolio-head:after {
    display: block;
    height: .1rem;
    background-color: red;
    content: " ";
    width: 15rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.grid-pic {
    width: 37rem;
    height: 25rem;
    padding: 1rem 1rem;
}
////////////////////////////////////////////////////////////
/* EXPIRIENCE SECTION */
.section-expirience {
    background-color: rgb(240, 240, 240);
    text-align: center;
}
.expirience-head { 
    margin-top: 10rem;
 }
 .expirience-head:after {
    display: block;
    height: .1rem;
    background-color: red;
    content: " ";
    width: 15.4rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.testimonial-img  {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 0;
}
.img-fluid {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.testimonial-author {
    display: inline-block;
    font-weight: 400;
    font-size: 100%;
}
.testimonial-author {
    margin-top: 1rem;
    margin-bottom: 8rem;
    padding-left: 1.5rem;
}
.name {
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    font-size: 1.5rem;
}
.small {
    font-size: 1.3rem;
    margin: .2rem 0;
}
.star {
    color: gold;
    font-size: 2rem;
}
.arrow-right {
    font-size: 3rem;
    padding: 1rem 1rem;
    cursor: pointer;
    color: white;
    background: rgba(255, 0, 0, 0.3);
    border-color: rgba(142, 30, 30, 0.1);
    outline: none;
    float: right;
    margin-right: 45rem;
    bottom: 50rem;
    transition: .5s;
}
.arrow-left {
    font-size: 3rem;
    padding: 1rem 1rem;
    cursor: pointer;
    color: white;
    background: rgba(255, 0, 0, 0.3);
    border-color: rgba(142, 30, 30, 0.1);
    outline: none;
    float: left;
    margin-left: 45rem;
    bottom: 50rem;
    transition: .5s;
}
///////////////////////////////////////////////////////////////////////////////////
/* NEWSLETTER */
.newsletter {
    text-align: center;
    background-color: rgb(34, 34, 34);
}
.headnews {
    color: white;
    text-transform: uppercase;
    margin-top: 8rem;
}
.headnews:after {
    display: block;
    height: .1rem;
    background-color: red;
    content: " ";
    width: 10rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.form-control {
    width: 30%;
    border: none;
    padding: 1.2rem 1.5rem;
    color: rgb(34, 34, 34); 
    font-family: "Roboto";
    font-weight: 300;
    font-size: 2rem;
    outline: none;
    margin-bottom: 8rem;
}
//////////////////////////////////////////////////////////////////////////////////////
/* CONTACT SECTION */
.section-contact {
    text-align: center;
}
.contact-form {
    margin-left: 58rem;
    margin-right: 58rem;
}
.contact-us:after {
    display: block;
    height: .1rem;
    background-color: red;
    content: " ";
    width: 15rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.contact-text {
    margin-bottom: 2rem;
}
.contact-name {
    width: 70rem;
    font-size: 2.5rem;
    padding: 3rem 1rem;
    font-family: "Roboto";
    font-weight: 300;
    border-width: .1rem;
    outline: none;
    border-bottom: white;
    border-right: white;
    border-left: white;
}
.contact-name1 {
    width: 70rem;
    font-size: 2.5rem;
    padding: 2rem 0 18rem 1rem;
    font-family: "Roboto";
    font-weight: 300;
    border-width: .1rem;
    outline: none;
    border-right: white;
    border-left: white;
}