///////////////////////////////////////////////////////
/* FEATURES SECTION */
.vitality-description:after {
    display: block;
    height: 0.2rem;
    background-color: red;
    content: " ";
    width: 15.4rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}
.icon-big {
    font-size: 360%;
    display: block;
    color: black;
    text-align: center;
}
.icon-description-text {
    padding: 0.5rem 2.5rem;
    margin-bottom: 8rem;
}
///////////////////////////////////////////////////////
/* OUR TEAM SECTION */
.section-ourteam { background-color: rgb(240, 240, 240); }

.employees {
    position: relative;
    text-align: center;
}
.emp3 {
    height: 22rem;
    width: 23.7rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
    padding: 0 .9rem;
    filter: brightness(50%);
    z-index: 1000;
}
.emp-text {
    position: absolute;
    top:28%;
    left:24%;
    color: rgb(255, 255, 255);
    filter: brightness(80%);
}
.emp-text1 {
    position: absolute;
    top:28%;
    right:44%;
    color: white;
    filter: brightness(80%);
}
.emp-text2 {
    position: absolute;
    top:28%;
    right:24%;
    color: white;
    filter: brightness(80%);
}
.emp-text p,
.emp-text1 p,
.emp-text2 p {
    color: white;
    font-weight: 300;
    margin-bottom: .8rem;
}
.emp-head {
    font-size: 170%;
}
.emp-head:after {
    display: block;
    height: .2rem;
    background-color: red;
    content: " ";
    width: 6rem;
    margin: 0 auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.emp-text i,
.emp-text1 i,
.emp-text2 i {
    padding: 0 .5rem;
}
///////////////////////////////////////////////////////
/* HOW WE WORK SECTION */
.section-howwework {
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/backgrounds/bg-quote.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.how-we-work {
    text-align: center;
    margin: 8% auto;
}
.design-text {
    font-size: 2.5rem;  
    color: white;
    font-weight: 300;
    margin-top: 17rem;
    margin-bottom: 1rem;
}
.design-text:after {
    display: block;
    height: .2rem;
    background-color: red;
    content: " ";
    width: 10rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}
.span-design {
    color: red;
}

//////////////////////////////////////////////////////////
/* OUR PROCESS SECTION */
.section-process {
    position: relative;
    height: 35rem;
}
.our-process-rows {
    text-align: center;
}
.process-head:after {
    display: block;
    height: .2rem;
    background-color: red;
    content: " ";
    width: 15rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.plans,
.create,
.launch {
    margin-bottom: 1rem;
    text-align: left;
}
.plan-list,
.create-list,
.launch-list {
    margin-bottom: 5rem;
}
.plan-list li,
.create-list li,
.launch-list li {
    padding: .5rem 0;
    text-align: left;
}
/* PLAN */
.process-text {
    position: absolute;
    left: 30rem;
}
.plan-icon { 
    font-size: 200%;
    border-style: solid;
    border-color: rgb(7, 7, 7);
    padding: 1rem 1.6rem 1rem 1.6rem;
    cursor: pointer;
    border-radius: 50%;

    position: absolute;
    left: 23rem;
}
/* CREATE */ 
.process-text1 {
    position: absolute;
    left: 55rem;
}
.create-icon {
    font-size: 200%;
    border-style: solid;
    border-color: rgb(7, 7, 7);
    padding: 1rem 1.6rem 1rem 1.6rem;
    cursor: pointer;
    border-radius: 50%;

    position: absolute;
    left: 48rem;
}
/* LAUNCH */
.process-text2 {
    position: absolute;
    left: 80rem;
}
.launch-icon {
    font-size: 200%;
    border-style: solid;
    border-color: rgb(7, 7, 7);
    padding: 1rem 1.6rem 1rem 1.6rem;
    cursor: pointer;
    border-radius: 50%;

    position: absolute;
    left: 73rem;
}
///////////////////////////////////////////////////////
/* OUR WORK SECTION */
.section-work { 
    background-color: rgb(240, 240, 240);
}
.ourwork-head:after {
    display: block;
    height: .2rem;
    background-color: red;
    content: " ";
    width: 15rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.ourwork-text {
    margin-bottom: 8rem;
}
/* WORK PICTURE SECTION */
.our-work-pic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/portfolio/carousel/bg-1.jpg);
    background-size: cover;
    position: relative;
    height:100vh;
}
.projectname-head {
    color: white;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    position: absolute;
    margin: 0;
    top: 22rem;
    right: 25rem;
}
.ourwork-paragraph {
    color: white;
    position: absolute;
    margin: 0;
    top: 26rem;
    right: 35.9rem;
}
.ourwork-paragraph:after {
    display: block;
    height: .2rem;
    background-color: red;
    content: " ";
    width: 14rem;
    margin: 0 auto;
    margin-top: 1rem;
}
.macbook-pic{
    width: 100%;
    margin-top: 10rem;
    margin-left: 5rem; 
    z-index: 100;
}
.picture-in-macbook {
    z-index: 500;
    height: 27rem;
    width: 43rem;
    position: absolute;
    top: 15rem;
    left: 12.7rem;
    filter: brightness(90%);
}
////////////////////////////////////////////////////////
/* PORTFOLIO SECTION */
.section-portfolio {
    text-align: center;
}
.portfolio-pic {
    margin-left: 21rem;
    margin-right: 21rem;
    margin-bottom: 10rem;
}
.portfolio-head:after {
    display: block;
    height: .2rem;
    background-color: red;
    content: " ";
    width: 15.4rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}
.grid-pic {
    width: 30%;
    height: 30%;
    padding: .5rem .5rem;
}
////////////////////////////////////////////////////////////
/* EXPIRIENCE SECTION */
.section-expirience {
    background-color: rgb(240, 240, 240);
    text-align: center;
}
.expirience-head { 
    margin-top: 10rem;
 }
 .expirience-head:after {
    display: block;
    height: .2rem;
    background-color: red;
    content: " ";
    width: 15.4rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.expirience-text {
    font-size: 110%;
}
.testimonial-img  {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 0;
}
.img-fluid {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.testimonial-author {
    display: inline-block;
    font-weight: 400;
    font-size: 100%;
}
.testimonial-author {
    margin-top: 1rem;
    margin-bottom: 8rem;
    padding-left: 1.5rem;
}
.name {
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    font-size: 120%;
}
.small {
    font-size: 90%;
}
.star {
    color: gold;
}
.arrow-right {
    font-size: 200%;
    padding: 1rem 1rem;
    cursor: pointer;
    color: white;
    background: rgba(255, 0, 0, 0.3);
    border-color: rgba(142, 30, 30, 0.1);
    outline: none;
    float: right;
    margin-right: 25rem;
    transition: .5s;
}
.arrow-left {
    font-size: 200%;
    padding: 1rem 1rem;
    cursor: pointer;
    color: white;
    background: rgba(255, 0, 0, 0.3);
    border-color: rgba(142, 30, 30, 0.1);
    outline: none;
    float: left;
    margin-left: 25rem;
    transition: .5s;
}
///////////////////////////////////////////////////////////////////////////////////
/* NEWSLETTER */
.newsletter {
    text-align: center;
    background-color: rgb(27, 27, 27);
}
.headnews {
    color: white;
    text-transform: uppercase;
    margin-top: 6rem;
}
.headnews:after {
    display: block;
    height: .2rem;
    background-color: red;
    content: " ";
    width: 10rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.form-control {
    width: 30%;
    border: none;
    padding: .7rem .9rem;
    color: black; 
    font-family: "Roboto";
    font-size: 120%;
    outline: none;
    margin-bottom: 8rem;
}
//////////////////////////////////////////////////////////////////////////////////////
/* CONTACT SECTION */
.section-contact {
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
}
.contact-us:after {
    display: block;
    height: .2rem;
    background-color: red;
    content: " ";
    width: 10rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.contact-text {
    margin-bottom: 2rem;
    font-size: 110%;
}
.contact-name {
    width: 50rem;
    font-size: 130%;
    padding: 2rem 1rem;
    outline: none;
    border-bottom: white;
    border-right: white;
    border-left: white;
}
.contact-name1 {
    width: 50rem;
    font-size: 130%;
    padding: 2rem 0 18rem 1rem;
    outline: none;
    border-right: white;
    border-left: white;
}