h1 {
    font-size: 80px;
    text-transform: uppercase;
}
h2 {
    font-size: 52px;
    text-transform: uppercase;
    color: rgb(33, 37 , 41);
}
h3 {
    font-size: 28px;
    text-transform: uppercase;
    color: rgb(33, 37 , 41);
}
h4 {
    font-size: 24px;
    text-transform: uppercase;
}
h1,
h2,
h3,
h4 {
    font-family: "Raleway",sans-serif;
    font-weight: 900;
}
p {
    font-size: 18px;   
    color: rgb(33, 37 , 41);
}







/* COLORS 
white-font-color : rgb(255, 255, 255);
red-color-light : rgba(239, 64, 53, 0.5);
red-color-dark : #EF4035;
black-color : rgb(33, 37 , 41);
grey-color : rgba(255, 255, 255, 0.74);
*/


